<div class="container-fluid" ng-if="ready">
    <div class="form-group">
        <label for="sel1">{{ departments.length }} departments:</label>
        <select class="form-control" id="sel1" ng-model="selected">
            <option ng-repeat="department in departments track by $index" value="{{ department.name }}">{{ department.name }}</option>
        </select>
    </div>
    <hr />
    <!-- change -->
    <label>{{ getNumberOfVehicles(vehicles, selected) }} Vehicles:</label>
    <div class="pull-right"><a href ng-click="exportCSV(vehicles, selected)">export .csv</a></div>
    <div class="list-group">
        <div ng-repeat="vehicle in vehicles| filter: (selected == 'All' ? '' : {department: {name: selected}}) track by $index">
            <a href class="list-group-item" ng-click="vehicle.isCollapsed = !vehicle.isCollapsed"
               ng-class="{'active': vehicle.isCollapsed}">{{ vehicle.model }}</a>
            <div uib-collapse="!vehicle.isCollapsed">
                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Make:</label> {{ vehicle.make }} <br />
                            <label>Model:</label> {{ vehicle.model }} <br />
                            <label>Year:</label> {{ vehicle.year }} <br />
                            <label>Serial:</label> {{ vehicle.serial }} <br />
                            <label>Hours:</label> {{ vehicle.hours }} <br />

                            <label>Next Interval:</label> {{ vehicle.next_interval }} <br />
                            <label>Interval Hours Due:</label> {{ vehicle.interval_hours_due }} <br />
                        </div>
                        <div class="col-md-6">
                            <label>Engine Make:</label> {{ vehicle.engine_make }} <br />
                            <label>Engine Model:</label> {{ vehicle.engine_model }} <br />
                            <label>Engine Serial:</label> {{ vehicle.engine_serial }} <br />
                            <label>Engine Note:</label> {{ vehicle.engine_note }} <br />

                            <label>Active:</label> {{ vehicle.active }} <br />
                            <label>Dashboard:</label> {{ vehicle.dashboard }} <br />
                            <label>Note:</label> {{ vehicle.note }} <br />
                        </div>
                        <div>

                            <table class="table" ng-repeat="work_order in vehicle.work_orders">
                                <thead>
                                    <tr>
                                        <th class="fit">Work Order Number:</th>
                                        <th>{{ work_order.number }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ['problem', 'solution', 'hours', 'active', 'note']">
                                        <td class="text-capitalize">{{ item }}: </td>
                                        <td>{{ work_order[item] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Datetime: </td>
                                        <td>{{ work_order.datetime | date:'medium' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Close Date: </td>
                                        <td>{{ work_order.datetime | date:'medium' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Parts Used: </td>
                                        <td>{{ work_order.parts_used }}</td>
                                    </tr>
                                    <tr>
                                        <td>Who worked: </td>
                                        <td>
                                            <span ng-repeat="user in work_order._who_worked">{{ user.first_name ? user.first_name + ' ' + user.last_name : user.username }}<span ng-if="!$last">,</span> </span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <button ng-disabled="sending" ng-click="work(work_order)" class="btn btn-success">{{ work_order.who_worked.indexOf($auth.getPayload().user_id) === -1 ? 'Join' : 'Leave' }} {{ work_order.number }}</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                            <div>
                                <button ng-click="addWorkOrder(vehicle)" class="btn btn-success">Add New Work Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="work_order.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">Work Order</h3>
    </div>
    <!--
    number = models.IntegerField()
    hours = models.FloatField()
    active = models.BooleanField()
    -->
    <div class="modal-body">
        <form name="myForm">
            <div class="form-group" ng-repeat="item in ['hours']">
                <label>{{ item }}</label>
                <input required name="{{ item }}" type="number" class="form-control" ng-model="work_order[item]" />

                <div ng-messages="myForm[item].$error" class="text-danger">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="number">Should be a number.</div>
                </div>
            </div>
            <div class="form-group" ng-repeat="item in ['active']">
                <label>{{ item }} <input name="{{ item }}" type="checkbox" ng-model="work_order[item]" /></label>
            </div>
            <div class="form-group" ng-repeat="item in ['datetime', 'close_date']">
                <label>{{ item }}</label>
                <p class="input-group">
                    <input required name="{{ item }}" type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="work_order[item]" is-open="isOpen" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="isOpen=true"><i class="fa fa-clock-o"></i></button>
                    </span>
                </p>
                <div ng-messages="myForm[item].$error" class="text-danger">
                    <div ng-message="required">This is required.</div>
                </div>
            </div>
            <div class="form-group" ng-repeat="item in ['problem', 'solution', 'parts_used']">
                <label>{{ item }}</label>
                <textarea required name="{{ item }}" class="form-control" ng-model="work_order[item]"></textarea>

                <div ng-messages="myForm[item].$error" class="text-danger">
                    <div ng-message="required">This is required.</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-disabled="myForm.$invalid" class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>