<div class="container-fluid" ng-if="ready">
    <div class="form-group">
        <label for="sel1">{{ vehicles.length }} Vehicles:</label>
        <select class="form-control" id="sel1" ng-model="selected">
            <option ng-repeat="vehicle in vehicles track by $index" value="{{ vehicle.id }}">{{ vehicle.model }}</option>
        </select>
    </div>
    <hr />
    <!-- change -->
    <label>{{ getNumberOfWorkOrder(workOrders, selected) }} Work Orders:</label>
    <div class="pull-right"><a href ng-click="exportCSV(workOrders, selected)">export .csv</a></div>
    <div class="list-group">
        <div ng-repeat="workOrder in workOrders| filter: (selected == 'All' ? '' : {vehicle: parseInt(selected)}) : true | filter: {active: active} track by $index">
            <a href class="list-group-item" ng-click="workOrder.isCollapsed = !workOrder.isCollapsed"
               ng-class="{'active': workOrder.isCollapsed}">{{ workOrder.number }}</a>
            <div uib-collapse="!workOrder.isCollapsed">
                <div class="well">
                    <div class="row">
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="fit">Work Order Number:</th>
                                        <th>{{ workOrder.number }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-capitalize">Vehicle: </td>
                                        <td>{{ getVehicleModel(workOrder.vehicle) }}</td>
                                    </tr>
                                    <tr ng-repeat="item in ['vehicle', 'problem', 'solution', 'hours', 'active', 'note']">
                                        <td class="text-capitalize">{{ item }}: </td>
                                        <td>{{ workOrder[item] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Datetime: </td>
                                        <td>{{ workOrder.datetime | date:'medium' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Close Date: </td>
                                        <td>{{ workOrder.close_date | date:'medium' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Parts Used: </td>
                                        <td>{{ workOrder.parts_used }}</td>
                                    </tr>
                                    <tr>
                                        <td>Who worked: </td>
                                        <td>{{ workOrder.who_worked }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <button ng-disabled="sending" ng-click="editWorkOrder({vehicles: vehicles, work_order: workOrder})" class="btn btn-success">Edit {{ workOrder.number }}</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <button ng-click="addWorkOrder({vehicles: vehicles, work_orders: workOrders})" class="btn btn-success">Add New Work Order</button>
    </div>
</div>


<script type="text/ng-template" id="work_order.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">Work Order</h3>
    </div>
    <!--
    number = models.IntegerField()
    hours = models.FloatField()
    active = models.BooleanField()
    -->
    <div class="modal-body">
        <form name="myForm">
            <div class="form-group">
                <select class="form-control" ng-model="work_order.vehicle"
                        ng-options="item.id as item.model for item in vehicles">
                </select>
            </div>
            <div class="form-group" ng-repeat="item in ['hours']">
                <label>{{ item }}</label>
                <input required name="{{ item }}" type="number" class="form-control" ng-model="work_order[item]" />

                <div ng-messages="myForm[item].$error" class="text-danger">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="number">Should be a number.</div>
                </div>
            </div>
            <div class="form-group" ng-repeat="item in ['active']">
                <label>{{ item }} <input name="{{ item }}" type="checkbox" ng-model="work_order[item]" /></label>
            </div>
            <div class="form-group" ng-repeat="item in ['datetime']">
                <label>{{ item }}</label>
                <p class="input-group">
                    <input required name="{{ item }}" type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="work_order[item]" is-open="isOpen" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="isOpen=true"><i class="fa fa-clock-o"></i></button>
                    </span>
                </p>
                <div ng-messages="myForm[item].$error" class="text-danger">
                    <div ng-message="required">This is required.</div>
                </div>
            </div>
            <div class="form-group" ng-repeat="item in ['close_date']">
                <label>{{ item }}</label>
                <p class="input-group">
                    <input name="{{ item }}" type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="work_order[item]" is-open="isOpen" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="isOpen=true"><i class="fa fa-clock-o"></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group" ng-repeat="item in ['problem', 'solution']">
                <label>{{ item }}</label>
                <textarea required name="{{ item }}" class="form-control" ng-model="work_order[item]"></textarea>

                <div ng-messages="myForm[item].$error" class="text-danger">
                    <div ng-message="required">This is required.</div>
                </div>
            </div>
            <div class="form-group" ng-repeat="item in ['parts_used', 'who_worked']">
                <label>{{ item }}</label>
                <textarea name="{{ item }}" class="form-control" ng-model="work_order[item]"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-disabled="myForm.$invalid" class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="edit_vehicle.html">
    <div class="modal-body">
        <form name="myForm">
            <div class="form-group" ng-repeat="item in ['hours']">
                <label>{{ item }}</label>
                <input required name="{{ item }}" type="number" class="form-control" ng-model="_vehicle[item]" />

                <div ng-messages="myForm[item].$error" class="text-danger">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="number">Should be a number.</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-disabled="myForm.$invalid" class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>