<div class="container-fluid" ng-show="ready">
    <div class="form-group">
        <label for="sel1">Location:</label>
        <select class="form-control" id="sel1" ng-model="selected">
            <option ng-repeat="location in locations track by $index" value="{{ location.name }}">{{ location.name }}</option>
        </select>
    </div>
    <hr />
    <!-- change -->
    <label>Parts:</label>
    <div class="list-group">
        <div ng-repeat="part in parts track by $index">
            <a href class="list-group-item" ng-click="part.isCollapsed = !part.isCollapsed"
                ng-class="{'active': part.isCollapsed}">{{ part.number }}</a>
            <div uib-collapse="!part.isCollapsed">
                <div class="well">
                    <div class="row">
                        <div>
                            <div class="text-center"><img class="img-circle" width="100" height="100" ng-src="{{ part.image || noImage }}" /></div>
                            <div class="text-center">
                                <h2>{{ part.number }}</h2>
                                <small>{{ part.description }}</small>
                            </div>
                            <div class="text-center"><button ng-disabled="sending || !part.qty_on_hand" ng-click="takeOne(part)" class="btn btn-warning">Take one</button></div>
                        </div>
                        <hr />
                        <div class="text-center">
                            <label>To stock:</label> {{ part.qty_to_stock }} <br />
                            <label>On hand:</label> {{ part.qty_on_hand }} <br />
                            <label>On order:</label> {{ part.qty_on_order }} <br />
                            <label>Price:</label> ${{ part.price }} <br />
                            <label>Vendor:</label> {{ part.vendor.name }} <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>