<div class="container-fluid" ng-if="ready">
    <!-- vehicle_id 	hours	next_interval	hours_due	hours_out	work_orders -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Vehicle Model</th>
            <th>Hours</th>
            <th>Next Interval</th>
            <th>Hours Due</th>
            <th>Hours Out</th>
            <th>Work Orders</th>
            <th>Department</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="vehicle in vehicles | filter: {dashboard: true}">
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.hours }}</td>
            <td>{{ vehicle.next_interval }}</td>
            <td>{{ vehicle.interval_hours_due }}</td>
            <td>{{ vehicle.interval_hours_due - vehicle.hours }}</td>
            <td>{{ vehicle.work_orders.length }}</td>
            <td>{{ vehicle.department.name || '-' }}</td>
        </tr>
        </tbody>
    </table>
    <div class="text-left"><a href ng-click="exportCSV(vehicles)">export .csv</a></div>
</div>